**/**/bin/*
**/**/obj/*
.vs/
**/**/*.db
*.sln.DotSettings.user
src/**/als.*
**/**/.vscode/
**/**/src/AutomatedLearningSystem.Api/wwwroot/client/*
!src/AutomatedLearningSystem.Api/wwwroot/client/.gitkeep
